@media(max-width:1441px) {

    /****Header****/
    .header {
        gap: 13%;
        margin-left: 1em;
    }

    .head-right {
        gap: 1%;
    }

    .nav-links {
        padding: 0.7rem;
    }

    /*****Skills***/
    .skills-content {
        gap: 5%;
        width: 80%;
    }
}

@media(max-width:1250px) {
    .header {
        margin-left: 0.8rem;
        gap: 8%;
    }

    .name {
        margin-left: 0.8rem;
        font-size: 2.3rem;
    }

    .nav-links {
        padding: 0.7rem;
        font-size: 1.1rem;
    }

    .bob {
        width: 30rem
    }
}

@media(max-width:1024px) {

    /****Header****/
    .header {
        margin-left: 0.5rem;
        gap: 5%;
    }

    .name {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

    .nav-links {
        padding: 0.3rem;
        font-size: 1.1rem;
    }

    /****home****/
    .bob {
        height: 26rem;
        width: 26rem;
        /* right: -1rem; */
    }

    /*****Skills***/
    .skills-content {
        width: 60%;
        gap: 5%;
    }

    .skill-card {
        width: 18rem;
    }

    .card-label {
        width: 80%;
        /* padding: 0.7rem; */
    }

    .card-content {
        width: 80%;
    }

    /*****Projects******/
    .projects-container {
        width: 70%;
        height: 600px;
    }

    .carousel-container {
        height: 600px;
    }
}

@media(max-width:850px) {
    .header {
        opacity: 0;
    }

    .header-small-head {
        opacity: 1;
    }

    .home-heading {
        font-size: 1.5rem;
    }

    .home-head-name {
        font-size: 2.6rem;
    }

    .skills-content {
        width: 80%;
        flex-direction: column;
    }

    .skill-card {
        width: 90%;
    }

    .typing-effects {
        font-size: 0.9rem;
    }

    .bob {
        height: 24rem;
        width: 24rem;
        /* right: -1rem; */
    }

    .home {
        height: 50vh;
    }

    .slide {
        flex-direction: column;
    }

    .slide video {
        width: 90%;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .contact-social-display {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contact-form-container {
        margin-top: 5%;
        width: 80%;
    }

}

@media(max-width: 767px) {


    .home {
        flex-direction: column;
        /* gap: 5%; */
        margin-top: 10%;
        justify-content: space-between;
        height: 70vh;
    }

    .home-img {
        width: 80%;
    }

    .bob {
        width: 24rem;
    }

    .home-bob {
        margin-top: 10%;
        margin-bottom: 30%;
        margin-right: 10%;
    }

    .home-content {
        width: 80%;
    }

    .home-scLink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }

    .about-img {
        width: 20rem;
        height: 20rem;
    }

    .about-content {
        margin: 6rem;
        flex-direction: column-reverse;
    }

    .about-para {
        width: 80%;
    }

    .skills-content {
        width: 80%;
        flex-direction: column;
    }

    .skill-card {
        width: 90%;
    }

    .slide-content {
        flex-direction: column;
    }

    .about,
    .skills,
    .qualifications,
    .contact,
    .project {
        padding-top: 15rem;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

@media (max-width:600px) {
    .header-small-head {
        gap: 30%;
    }

    .bob {
        /* margin-top: 8%; */
        width: 22rem;
    }

    .home-bob {
        margin-top: 10%;
        margin-bottom: 30%;
    }

    .qual-category {
        flex-direction: column;
        column-gap: 15%;
    }

    .qual-category div {
        padding: 5%;
    }

    .timeline-content {
        width: 100%;
    }

    .contact-social-display {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-form {
        grid-gap: 0.4rem;
    }

    .contact-form-container {
        margin-top: 5%;
        width: 90%;
    }

}

@media(max-width:424px) {
    .header-small-head {
        gap: 15%;
        padding: 1%;
    }

    .bob {
        width: 20rem;
    }

    .home-bob {
        margin-top: 15%;
        margin-bottom: 30%;
    }

    .timeline-content {
        width: 70%;
    }

    .about-img {
        width: 18rem;
        height: 18rem;
    }

    .about-img img {
        width: 17rem;
        height: 17rem;
    }

    .about-head,
    .skills-head,
    .qual-head,
    .contact-head,
    .project-head {
        font-size: 3.4rem;
    }
}

@media(max-width:320px) {
    .header-small-head {
        gap: 10%;
        padding: 1%;
    }

    .small-head-name {
        font-size: 1.3rem;
    }

    .bob {
        width: 18rem;
    }

    .home-bob {
        margin-top: 25%;
        margin-left: 25%;
        margin-bottom: 20%;
    }

    .qual-head {
        font-size: 2.9rem;
    }

    .skills-content {
        width: 90%;
        flex-direction: column;
    }

    .skill-card {
        width: 90%;
    }

    .timeline-content {
        width: 100%;
    }

    .qual-head span:nth-child(2) {
        font-size: 0.7rem;

    }
}