@media(max-width:1441px) {

    /****Header****/
    .header {
        gap: 13%;
        margin-left: 1em;
    }

    .head-right {
        gap: 1%;
    }

    .nav-links {
        padding: 0.7rem;
    }

    /*****Skills***/
    .skills-content {
        gap: 5%;
        width: 80%;
    }
}

@media(max-width:1250px) {
    .header {
        margin-left: 0.8rem;
        gap: 8%;
    }

    .name {
        margin-left: 0.8rem;
        font-size: 2.3rem;
    }

    .nav-links {
        padding: 0.7rem;
        font-size: 1.1rem;
    }

}

@media(max-width:1024px) {

    /****Header****/
    .header {
        margin-left: 0.5rem;
        gap: 5%;
    }

    .name {
        margin-left: 0.5rem;
        font-size: 2rem;
    }

    .nav-links {
        padding: 0.3rem;
        font-size: 1.1rem;
    }

    /****home****/
    .bob {
        height: 28rem;
        width: 28rem;
        right: -1rem;
    }

    /*****Skills***/
    .skills-content {
        width: 60%;
        gap: 5%;
    }

    .skill-card {
        width: 18rem;
    }

    .card-label {
        width: 80%;
        /* padding: 0.7rem; */
    }

    .card-content {
        width: 80%;
    }

    /*****Projects******/
    .projects-container {
        width: 70%;
        height: 600px;
    }

    .carousel-container {
        height: 600px;
    }
}

@media(max-width:850px) {
    .header {
        opacity: 0;
    }

    .header-small-head {
        opacity: 1;
    }

    .home-heading {
        font-size: 1.5rem;
    }

    .home-head-name {
        font-size: 2.6rem;
    }

    .typing-effects {
        font-size: 0.9rem;
    }

    .bob {
        height: 22rem;
        width: 22rem;
        right: -1rem;
    }

    .home {
        height: 50vh;
    }
}

@media(max-width: 767px) {
    .bob {
        width: 20rem;
        /* margin-bottom: 10%; */
    }

    .home {
        flex-direction: column;
        /* gap: 5%; */
        margin-top: 10%;
        justify-content: space-between;
        height: 70vh;
    }

    .home-img {
        width: 80%;
    }

    .bob {
        margin-bottom: 0;
        margin-top: 1%;
        right: 20%;
    }

    .home-content {
        width: 80%;
    }

    .home-scLink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }

    .skills-content {
        flex-direction: column;
    }

    .slide-content {
        flex-direction: column;
    }

    .about,
    .skills,
    .qualifications,
    .contact,
    .project {
        padding-top: 15rem;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

@media(max-width:424px) {}