:root {
    --fname: #cc252d;
    --lname: #fa514c;
    --bckColor: #fbd9bb;
    --prmText: #eb6262;
    --scdText: #7c203a;
    --slcText: #310B0B;
    font-family: 'Rubik', sans-serif;

}

[data-theme='dark'] {
    --fname: #ffac6a;
    --lname: #fa514c;
    --bckColor: #121212;
    --prmText: #eb6262;
    --scdText: #fbd9bb;
    --slcText: #eb6262;
    font-family: 'Rubik', sans-serif;

}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bckColor);
    font-family: 'Rubik', sans-serif;
}

.whole {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

/*********HEADER******/


.header {
    margin-top: 1.5em;
    margin-left: 2em;
    display: flex;
    gap: 20%;
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    user-select: none;
    height: 5%;
}

.name {
    display: flex;
    gap: 3%;
    margin-left: 3em;
    font-size: 2.4em;
    color: var(--prmText);
    font-weight: 600;
}

.l-name {
    color: var(--lname);
}

.f-name {
    color: var(--fname);
}

.head-left {
    width: 20%;
}

.head-right {

    display: flex;
    gap: 5%;
    width: 60%
}

.nav-links {
    color: var(--scdText);
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
    visibility: hidden;
    width: 0px;
}

.nav-links:hover {
    color: var(--slcText);
    font-size: 1.3em;
}

.light-mode {
    color: white;
}

.slctBtn {
    color: var(--slcText)
}

/******** Home *******/

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 13em;
    z-index: -1;
    width: 100%;
    color: var(--fname)
}

.home-content {
    width: 40%
}

.home-heading {
    font-size: 3.8em;

}

.home-head-name {
    font-size: 1.4em;
}

.home-scLink {
    text-decoration: none;
    color: var(--lname);
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-size: 2em;
    gap: 10%;
    height: 5em;

}

.button {
    background-color: var(--fname);
    color: var(--prmText);
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 10%;
    text-decoration: none;
}