:root {
    --fname: #cc252d;
    --lname: #fa514c;
    --bckColor: #FFCC99;
    --prmColor: #eb6262;
    --scdColor: #7c203a;
    --slcText: #460c0c;
    --cntColor: #000;
    --textColor: #2a2831;
    --scdBckColor: #f5be88;
    --trdBCkcolor: #fcc288;
    --textSlctColor: #fcb773;
    font-family: 'Rubik', sans-serif;

}

[data-theme='dark'] {
    --fname: #ffac6a;
    --lname: #fa514c;
    --bckColor: #0d0a08;
    --prmColor: #eb6262;
    --scdColor: #fbd9bb;
    --slcText: #eb6262;
    --cntColor: #FFCBA4;
    --textColor: rgb(230, 176, 176);
    --scdBckColor: rgb(27, 27, 27);
    --trdBCkcolor: #1f1e1d;
    --textSlctColor: #3b3b3a;
    font-family: 'Rubik', sans-serif;

}

html {
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #fa514c #ffcba4;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bckColor);
    font-family: 'Rubik', sans-serif;
}


/* * {
    border: 1px solid red;
} */

/******Scroll Bar****/
html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #fa514c;
    border-radius: 50px;
}

html::-webkit-scrollbar-track {
    background-color: #ffcba4;
    border-radius: 50px;
}

::selection {
    background-color: var(--textSlctColor);
}

.whole,
.whole-certi {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.hide {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
    transition: display 2s;
}


mark {
    background: transparent;
    font-weight: 700;
    color: var(--cntColor);
}

/*********HEADER******/


.header {
    padding-top: 1.5em;
    margin-left: 2em;
    display: flex;
    gap: 20%;
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    user-select: none;
    height: 5%;
    z-index: 2;
    background-color: var(--bckColor);
}

.name {
    display: flex;
    gap: 3%;
    margin-left: 3em;
    font-size: 2.4em;
    color: var(--prmText);
    font-weight: 600;
}

.l-name {
    color: var(--lname);
}

.f-name {
    color: var(--fname);
}

.head-left {
    width: 20%;
}

.head-right {
    display: flex;
    gap: 3%;
    width: 70%
}

.nav-links {
    color: var(--scdColor);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: text-decoration-color 700ms;
    position: relative;

}

.nav-links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    border-radius: 6rem;
    background-color: var(--fname);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

a {
    text-decoration: none;
}

.nav-links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links:hover {
    color: var(--slcText);

}

.light-mode {
    color: white;
}

.slctBtn {
    color: var(--slcText);
}

/******** Home *******/

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 1%;
    /* padding: 1rem;    */
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 4%;
}

.home-bob {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.bob {
    position: absolute;
    height: 37rem;
    width: 37rem;
    right: -1.5rem;
}

.home-content {
    width: 40%;
    color: var(--cntColor);
}

.home-heading {
    font-size: 2.8em;
}

.home-head-name {
    font-size: 1.4em;
}

.home-scLink {
    text-decoration: none;
    color: var(--lname);
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-size: 2em;
    gap: 10%;
    height: 5em;

}


.home-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 10rem
}

/*********Social Fixed*********/
.sc-fixed {
    color: var(--lname);
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 2em;
    height: 5em;
    gap: 10%;
    bottom: 16rem;
    right: -10%;
    transition: 0.7s;
}

.sc-show {
    right: 5%;
}

.icon {
    color: #fa514c;
}

.button {
    background-color: var(--prmColor);
    color: var(--cntColor);
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    text-decoration: none;
}

.top-btn {
    position: fixed;
    bottom: -10%;
    right: 4.6%;
    transition: 0.7s;
}

.top-btn-show {
    bottom: 12%;
}

.top-icon {
    font-size: 2rem;
}

.scd-text {
    color: var(--textColor);
}

/**********Section head ********/
.about,
.skills,
.qualifications,
.contact,
.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10rem; */
    padding-top: 20rem;
}


.about-head,
.skills-head,
.qual-head,
.contact-head,
.project-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    color: var(--cntColor);
    cursor: text;
}

.sub-text {
    font-size: 1rem;
}

/*********About Me*******/

.about-content {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(0deg, rgb(176, 28, 76), rgb(211, 106, 99));
    width: 21rem;
    height: 21rem;
    border-radius: 8%;

}

.about-para {
    width: 40%;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    cursor: text;
}

.resume-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 8rem;
}

/***********Skills**********/


.skills-content {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.skill-card {
    width: 22rem;
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.card-label {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 7rem;
    gap: 10%;
    background-color: var(--trdBCkcolor);
}

.card-head {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cntColor);
}

.card-heading {
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: center;
}

.card-up-icon {
    font-size: 2rem;
    transition: 0.6s;
}

.card-hide {
    width: 0;
    height: 0;
    opacity: 0;
    max-height: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease-in,
        transform 300ms ease-in, max-height 300ms ease-in;
}

.card-show {
    opacity: 1;
    max-height: 40rem;
    transform: translateY(0px);
    transition: opacity 500ms ease-in,
        transform 500ms ease-in, max-height 500ms ease-in;
}

.flip {
    transform: rotate(180deg);
}

.card-icon {
    font-size: 2rem;
    color: var(--cntColor);
}

.card-para {
    font-size: 0.7rem;
}

.card-content {
    animation: ease-in;
    padding: 0.5rem;
    width: 100%;
    height: 25rem;
    background-color: var(--scdBckColor);
    cursor: text;
}

.skill-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20%;
    height: 15%;
    margin-top: 10%;
}

.skill-name {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 20%;
    color: var(--cntColor);
}

.skill-icon {
    /* font-size: 0.5rem; */
    width: 2rem;
    height: 2rem;
    color: var(--prmColor);
}

.skill-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.skill-bar {
    display: inline-block;
    background-color: var(--prmColor);
    border-radius: 10%;
    height: 0.5rem;
    margin-right: 10%;
}


/*********Qualification**********/

.qualifications {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.qual-category {
    margin-top: 2rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.qual-c {
    font-size: 1.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5%;
    cursor: pointer;
    color: var(--cntColor);

}


.qual-timelines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qual-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-hide {
    width: 0;
    height: 0;
    opacity: 0;
    max-height: 0;
    transform: translateY(-20px);

}

.time-show {
    opacity: 1;
    max-height: 100rem;
    /* transform: translateY(0px); */
    transition: opacity 700ms ease-in,
        transform 700ms ease-in, max-height 700ms ease-in;

}

.timespan {
    color: var(--cntColor);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
}

.time-selected {
    color: var(--slcText);
    text-decoration-style: wavy;
}

/****Timelines****/
.timeline-section {
    /* background-color: #24292d; */
    /* min-height: 100vh; */
    padding: 50px 15px;
    width: 50%;
}

.timeline-items {
    max-width: 100%;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50%);
}

.timeline-item {
    margin-bottom: 10px;
    width: 80%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 1rem);
    text-align: right;

}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 1rem);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: var(--prmColor);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 1.5rem;
    color: var(--cntColor);
    margin: 6px 0 15px;
}

.timeline-content {
    /* width: 50%; */
    background-color: var(--trdBCkcolor);
    padding: 1rem;
    border-radius: 5px;
    cursor: text;
}

.timeline-content h3 {
    font-size: 1.2rem;
    letter-spacing: 0.01rem;

    color: var(--cntColor);
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {

    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
}

.timeline-item:hover .timeline-dot {
    background-color: var(--cntColor);

}

/********Certificates********/
.certificates-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10rem; */
    padding-top: 10rem;
    margin-bottom: 10%;
}

.certificate-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    color: var(--cntColor);
    cursor: text;
}

.certi-grid-container {
    /* height: 60%; */
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 6rem;
    row-gap: 1rem;
    width: 80%;
    /* overflow: hidden; */
}

.certi-container {
    /* height: minmax(auto, 50%); */
    height: 350px;
    width: auto;
    border-radius: 0.6rem;
    border: 2px solid var(--fname);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.certi-container:hover {
    box-shadow: 8px 5px 10px var(--fname);
}

.certi-head {
    font-size: 1.49rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cntColor);
}

.certi-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    width: 100%;
    color: var(--cntColor);
}

.certi-sc {
    /* width: 10%; */
    right: 5%;
}

.certi-info ul {
    list-style: square;
}

.certi-info {
    color: var(--textColor);
}

.certi-info li {
    padding-top: 1%;
}

.certi-btn {
    width: 50%;

}

.certi-btn a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*******Projects***********/


.projects-container {
    width: 80%;
    height: 400px;
    margin: 10% auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    width: 80%;
    height: 400px;
    position: relative;
    overflow: hidden;

}

.carousel {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: 300ms transform ease-in;
}

.slide {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    /* height: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.carousel-btn img {
    width: 20px;
    height: 20px;
}

.carousel-btn-show {
    opacity: 1;
    transition: opacity 1s;
}

.carousel-btn-hide {
    opacity: 0;
    transition: opacity 1s;
}

.left-btn {
    left: -35px;
}

.right-btn {
    right: -35px;
}

.carousel-nav {
    width: 100%;
    /* height: 30px; */
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
}

.carousel-nav .carousel-dot {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 8px 10px;
    cursor: pointer;
}

.carousel-dot.active {
    background: #fa514c;
}

.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.slide-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.project-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    color: var(--cntColor);
    height: fit-content;
}

.about-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-content-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
}

.projects-content-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2%;
}

.project-btn {
    font-size: 3.5rem;
    color: var(--cntColor);

    /* margin: 0 2.5rem; */
}

.slide-content-right {
    width: 50%;
}

.project-demo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-demo video {
    width: 100%;
    height: 100%;
}

/******Contact ME********/

.contact-content {
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    gap: 10%;
    margin-top: 7%;
    overflow: hidden;
}

.contact-social-display {
    /* display: block; */
    display: flex;
    flex-direction: column;
    gap: 8%;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100%; */
    /* z-index: 0; */
    /* width: 50%; */
    /* overflow: hidden; */

}

.contact-social-display a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    color: var(--textColor);
    /* width: 100%; */
    /* height: 100%; */
    font-size: 1rem;
    /* z-index: 0; */
}

.contact-icon {
    font-size: 2.5rem;
    color: var(--cntColor);

}

.contact-form-container {
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    overflow: hidden;
    /* align-items: center; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.contact-form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7rem;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contact-form label {
    color: var(--cntColor);
}

.contact-name,
.contact-email,
.contact-subject,
.contact-message {
    background-color: var(--scdBckColor);
    padding: 1rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    height: 2rem;
}

.contact-name input,
.contact-email input,
.contact-subject input,
.contact-message textarea {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--textColor);
}

.contact-subject {
    grid-column: 1/-1;

}

.contact-message {
    height: 13rem;
    grid-column: 1/-1;
}

.contact-send button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 30%;
    cursor: pointer;
}

.contact {
    margin-bottom: 10%;
}

/**********Footer*******/
.footer {
    height: 100%;
    width: 100%;
    /* background-color: var(--fname); */
    background-color: var(--scdBckColor);

    /* padding: 1%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 30%; */
}

.foot-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 80%;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 2%;
}

.foot-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cntColor);
    width: 100%;
}

.foot-name a {
    color: var(--cntColor);
    font-size: 3rem;
}

.foot-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.foot-social a {
    font-size: 2rem;
    color: var(--cntColor);
}

.foot-policy {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    color: var(--cntColor);
    align-items: center;
    margin-bottom: 2%;
}

/******** responsive**********/