body {
    width: 100%;
    height: 100%;
    background-color: #fcf2e8;
    font-family: 'Rubik', sans-serif;
}

.header {
    margin-top: 1.5em;
    margin-left: 2em;
    display: flex;
    gap: 20%;
    width: 100%;
}

.name {
    margin-left: 3em;
    font-size: 2.4em;
    color: #eb6262;
    font-weight: 600;
}

.head-left {
    width: 20%;
}

.head-right {
    display: flex;
    gap: 5%;
    width: 60%
}

.nav-links {
    color: #504538;
    font-size: 1.1em;
}

a {
    text-decoration: none;

}