:root {
    --bckColor: #fcf2e8;
    --prmText: #eb6262;
    --scdText: #7c203a;
    --slcText: #310B0B;
    font-family: 'Rubik', sans-serif;

}

[data-theme='dark'] {
    --bckColor: #1f1b24;
    --prmText: #eb6262;
    --scdText: #7c203a;
    --slcText: #461111;
    font-family: 'Rubik', sans-serif;

}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bckColor);
    scroll-behavior: smooth;
}

.header {
    margin-top: 1.5em;
    margin-left: 2em;
    display: flex;
    gap: 20%;
    width: 100%;
    cursor: pointer;
    position: fixed;
    /* top: 0; */
    user-select: none;
}

.name {
    margin-left: 3em;
    font-size: 2.4em;
    color: var(--prmText);
    font-weight: 600;
}

.head-left {
    width: 20%;
}

.head-right {

    display: flex;
    gap: 5%;
    width: 60%
}

.nav-links {
    color: var(--scdText);
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
    visibility: hidden;
    width: 0px;
}

.nav-links:hover {
    color: var(--slcText);
    font-size: 1.3em;
}

.light-mode {
    color: white;
}

.slctBtn {
    color: var(--slcText)
}